
{%- assign upsell_variant_1 = product.variants[0] -%}
{%- assign upsell_variant_2 = product.variants[1] -%}
{% assign current_product = product %}
<div class="product-upsell-grid" id="shop-now" style="display: flex; gap: 16px; margin-top: 32px;" data-upsell-grid>

  {%- for v in product.variants limit:3 -%}
    <div class="product-upsell-card {% if forloop.first %}is-selected{% endif %}" data-variant-id="{{ v.id }}">
      {% render 'upsell-card', variant: v %}
    </div>
  {%- endfor -%}

</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const cards = document.querySelectorAll('.product-upsell-card');
    const variantInput = document.querySelector('input[name="id"].product-variant-id');

    if (!variantInput) {
      console.warn("⚠️ Champ de variante introuvable");
      return;
    }

    cards.forEach((card) => {
      card.addEventListener('click', () => {

        cards.forEach(c => c.classList.remove('is-selected'));
        card.classList.add('is-selected');

    
        const selectedVariantId = card.dataset.variantId;
        variantInput.value = selectedVariantId;

        variantInput.dispatchEvent(new Event('change'));
      });
    });
  });
</script>


<style>
  .price.price--large.price--on-sale.price--show-badge{display:none;}
  .product__tax{display:none;}
  .product-upsell-card {
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    text-align: center;
    max-width: 180px;
    cursor: pointer;
    transition: border-color 0.3s;
  }

  .product-upsell-card.is-selected {
    border: 2px solid #EB1478;
  }
@media (max-width: 768px) {
  .product-upsell-grid{flex-direction:column;}
  .upsell-card{max-width:300px!important;}
  .product-upsell-card{max-width:300px!important;margin:0 auto;}
}
</style>
