body {
    background-color: black !important;
    background: black !important;
}

/*--- VIDEO BACKGROUND ---*/
#background-video {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background-size: cover;
    overflow: hidden;
}

/*--- HEADER ---*/
.home-page > .header-wrapper{
    position: absolute!important;
    width: 100%!important;
    background: rgba(0,0,0,0.0)!important;
    transition: background .5s ease!important;
}
.home-page > .scrolled-past-header .header-wrapper {
    background: rgba(0,0,0,0.9)!important;
  }
